.sticky {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar { 
  background: var(--bg-content);
  color: var(--color-text);
}

.logo { color: var(--color-text-bold); }

.choosen-menu {width: 4px; }

ul li:hover {
  font-weight: 500;
  color: var(--color-text-bold);

  .icon-menu { color: #2B6FFF; }
  .choosen-menu { background: #2B6FFF; }
}

.airplane {
  margin-top: 60%;
  background: var(--bg-up-content);
  border-radius: 20px;
  height: 197px;

  img { 
    width: stretch;
    margin-top: -50%; 
    margin-left: auto;
    margin-right: auto;
  }

  button {
    color: var(--color-text-bold);
    background: var(--bg-btn-pro);
    border-radius: 20px;
    border: none;
    font-weight: 500;
  }
}

.airplane button:hover {
  transition: 0,7s;
  transform: translateY(-1px);
}